.mapcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-mapcontact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title-map {
  font-size: 22px;
  position: relative;
  bottom: 20px;
}
.containerMap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.map {
  border: none;
  border-radius: 20px;
  margin: 20px;
}

.iframe {
  position: relative;
  bottom: 20px;
  padding: 15px;
  border-radius: 40px;
  -webkit-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.28);
}

.containerContact {
  background: linear-gradient(47deg, rgb(0, 26, 255), rgb(113,196,255) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  top: 2px;
  margin-bottom: 20px;
}

.container-form {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.container-form .name_,
.email_,
.subject,
.message,
.tel {
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px !important;
}

.name_,
.email_,
.subject,
.message,
.tel:focus {
  outline: none !important;
}

.tel {
  width: 100%;
}

.email {
  right: 0;
}
.message {
  height: 70px;
}

.btn-cont {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #32cd32;
  width: 300px !important;
  color: white;
  position: relative;
  left: 100px;
  top: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.btn-cont:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.contact-cont {
  position: relative;
  top: 15px;
}

.title-contact {
  font-size: 22px;
  position: relative;
  top: 20px;
  color: white;
}

.contact-p {
  color: white;
}
