/*
* Global
*/
@import "../styles.css";

/*
//////////////////////
///////////////////////////// MAIN HEADER //////////////////////////////////////
//////////////////////
*/

.sectioninfo {
  background: var(--c-bg-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;
}

/* ////////////////////////////////// LOGO ///////////////////////////////////*/

.logo {
  width: 180px;
  right: 0;
  padding: 30px;
  justify-self: start;
  align-items: center;
  padding-left: 30px;
}

/* /////////////// CONTACT BUTTONS  //////////////////////////////////////*/

.contact-info-container {
  display: flex;
  padding: 20px;
  width: inherit;
  align-items: center;
}

.contact-info-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  color: var(--c-white);
  cursor: pointer;
}

.contact-info-card > div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-icon {
  font-size: 20px;
  background: var(--c-bg-btn-blue);
  width: 50px;
  height: 50px;
  align-self: center;
  line-height: 50px !important;
  border-radius: 50%;
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
    3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  transition: all 1s linear;
}

/*
It's not possible to transition on display:hidden so to elminate this <p></p> I set the height to 0 and the hide the overflow on position absolute, to make it show again I only need to modify height property on hover
*/

.contact-info-card > div > p {
  position: absolute;
  font-weight: 400;
  letter-spacing: 2px;
  height: 0;
  bottom: 0;
  overflow: hidden;
  text-align: start;
  transition: height 0.7s, position 0s, ease-in-out;
}

.contact-info-card div:first-child:hover .card-icon,
.contact-info-card div:nth-child(2):hover .card-icon,
.contact-info-card div:nth-child(3):hover .card-icon,
.contact-info-card div:last-child:hover .card-icon {
  background: none;
  color: var(--c-white);
  transform: scale(1.6);
  box-shadow: none;
}

.contact-info-card div:first-child:hover > p,
.contact-info-card div:nth-child(2):hover > p,
.contact-info-card div:nth-child(3):hover > p,
.contact-info-card div:last-child:hover > p {
  height: 50%;
  position: relative;
}

/*
//////////////////////
////////////////////////////// HOME PAGE ///////////////////////////////////////
//////////////////////
*/

/*
//////////////////////////NAV BAR /////////////////////////////////////////////
*/

.main-menu {
  background-color: var(--c-white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    appearance: none;
    &:checked {
      ~ .hamburger-lines > .line:first-child {
        transform: rotate(45deg);
      }
      ~ .hamburger-lines > .line:nth-child(2) {
        transform: scaleY(0);
      }
      ~ .hamburger-lines > .line:last-child {
        transform: rotate(-45deg);
      }
      ~ .menu-items {
        transform: translateX(0);
      }
    }
  }
  .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: var(--c-bg-btn-blue);
      &:first-child {
        transform-origin: top left;
        transition: transform var(--timing) ease-in-out;
      }
      &:nth-child(2) {
        transition: transform 200ms ease-in-out;
      }
      &:last-child {
        transform-origin: bottom left;
        transition: transform var(--timing) ease-in-out;
      }
    }
    @media screen and (width > 580px) {
      display: none;
    }
  }
}

.menu-items {
  left: 50%;
  display: flex;
  max-width: 900px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1.9em;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
  a {
    font: 500 var(--fs-18) / 1.25 var(--ff-nav);
    color: var(--c-black-body);
    transition: font-size 200ms ease;
    &:hover {
      font-size: 1.5em;
      color: var(--c-blue-hover);
    }
  }
  @media screen and (width < 580px) {
    width: 100%;
    padding-top: 70vh;
    transform: translate(150%);
    flex-direction: column;
    transtion: transform var(--timing) ease-in-out;
    a {
      color: var(--c-white);
    }
  }
}

/*
//////////////////////////HOME CAROUSEL 
*/

.home-carousel-container {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
}
.show {
  animation-name: fade;
  animation-duration: 1.5s;
}
.hide {
  display: none;
  width: 100%;
  height: 500px;
}
img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.dots-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.dot {
  background: var(--c-dark-grey);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.dot:hover,
active {
  background-color: var(--c-blue-hover);
}

.previous-btn,
.next-btn {
  position: absolute;
  top: 28%;
  height: auto;
  width: 16px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--c-white);
  font-size: var(--fs-20);
  transition: 0.6s ease;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.8);
  }
}

.next-btn {
  right: 0;
}

/*////////////////FADE ANIMATION /////////////*/

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/*
//////////////////////////////////////
////////////////////////////////////////AB0UT PAGE COMPONENTS
//////////////////////////////////////
*/

/*
//////////////////////// STAFF CARDS //////////
*/

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}

.cards-section h2 {
  display: block;
  flex: 1 0 auto;
  margin-bottom: 50px;
}

.cards-container {
  max-width: 1200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 50px;
}

.staff-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  margin-top: auto;
  box-shadow: var(--box-shadow);
}

.staff-card img {
  display: block;
  border: none;
  border-radius: 12px 12px 0 0;
  width: 480px;
  height: 250px;
  object-fit: cover;
}

.staff-card-info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  height: inherit;
  width: inherit;
  gap: 20px;
  background-color: var(--c-bg-footnote);
  color: var(--c-white);
}

.staff-card-info > :first-child {
  width: 100%;
  font: var(--fs-18) var(--ff-subheading);
  letter-spacing: 1.08px;
  padding-block: 15px;
  background-color: #f8f8ff25;
}

.staff-card-info > :last-child {
  font: var(--fs-16) var(--ff-text-body);
  letter-spacing: 1.05px;
  padding: 0 15px 25px 15px;
}

/*
////////////////////////OUR OFFICE
*/

.office {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.title-carousel {
  margin-bottom: 50px;
}

.carousel-container {
  width: 780px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 680px) {
  .carousel-container {
    width: 100%;
  }
}

/*
//////////////////////
//////////////////////////////////////// FAQs PAGE ///////////////////////////////////////
//////////////////////
*/

/*
https://codepen.io/alvarotrigo/pen/wvrzPWL
*/

/*////////////////////////// ACCORDION  ////////////*/
.accordion {
  font-family: "Open sans", sans-serif;
  background: var(--c-light-grey);
  padding: 30px;
  box-shadow: 0 1px 8px rgba(#000, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50vh);
  width: 75%;
  box-shadow: 0 1px 8px rgba(#000, 0.25);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  /*//////////////RADIO INPUTS/////////////////////////*/
  input[name="panel"] {
    display: none;
    &:checked + label {
      color: var(--c-hightlight-color);
      ~ .answer {
        max-height: fit-content;
        height: -moz-max-content;
        text-wrap: pretty;
        line-height: 2em;
      }
      &:after {
        content: "-";
        line-height: 0.8em;
      }
    }
  }

  /*/////////////////////LABELS ////////////////////////*/
  .label {
    position: relative;
    display: block;
    padding: 1em;
    background: linear-gradient(
      to bottom,
      rgba(254, 254, 254, 1) 0%,
      rgba(209, 209, 209, 1) 50%,
      rgba(219, 219, 219, 1) 55%,
      rgba(226, 226, 226, 1) 100%
    );
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(#0000, 0.15);
    font-size: 1.5em;
    text-shadow: 0 1px 0 rgba(#fff, 0.75);
    color: var(--med-grey);
    cursor: pointer;
    transition: all var(--timing) var(--ease);
    &::after {
      content: "+";
      position: absolute;
      right: 1em;
      width: 1em;
      height: 1em;
      line-height: 0.98em;
      color: var(--c-light-grey);
      text-align: center;
      border-radius: 50%;
      background: var(--c-bg-btn-blue);
      box-shadow: inset 0 1px 6px rgba(#000, 0.5), 0 1px 0 #fff;
      text-shadow: 0 1px 0 rgba(#000, 0.75);
    }
    &:hover {
      color: var(--c-highlight-color);
    }
  }

  .answer {
    overflow: hidden;
    max-height: 0em;
    position: relative;
    padding: 0 1.5em;
    box-shadow: inset 4px 0 0 0 var(--c-hightlight-color),
      inset 0 3px 6px rgba(#000, 0.75);
    background: var(--c-dark-grey);
    background: linear-gradient(
      to bottom,
      rgba(68, 68, 68, 1) 0%,
      rgba(34, 34, 34, 1) 100%
    );
    color: var(--c-light-grey);
    transition: all var(--timing) var(--ease);
    &:not(:last-of-type) {
      box-shadow: inset 0 -2px 2px rgba(#000, 0.25),
        inset 4px 0 0 0 var(--c-hightlight-color),
        inset 0 3px 6px rgba(#000, 0.75);
    }
    p {
      font-size: 0.825em;
      line-height: 1.7em;
      padding-block: 1.5em;
      margin: 0;
      text-align: left;
    }
  }
}

/*
//////////////////////
////////////////////////////////////SECTION TITLE//////////////////////////////
//////////////////////
*/

.about-section {
  position: relative;
  display: flex;
  place-content: center;
  flex-direction: column;
  background: url("../assets//images/home-background-mr-lee-f4RBYsY2hxA-unsplash.jpg");
  background-position: 40% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 350px;
}

.about-section::after {
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--c-bg-blue);
  opacity: 0.7;
}

.about-title {
  z-index: 1;
  color: var(--c-white);
}

.link-home {
  margin-top: 30px;
  z-index: 1;
  font-size: 18px;
  color: var(--c-white);
  text-decoration: underline;
}

/*
//////////////////////////SOCIAL ICONS ////////////////////////////////////////
*/

.socialicons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 70px;
  top: 20px;
}

.icons-redes {
  display: flex;
  flex-direction: row;
}

.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--c-white);
  border-radius: 50%;
  margin-left: 10px;
  transition: all 0.5s ease;
  text-align: center;
}

.container-icons:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.icon {
  font-size: 26px;
  color: rgb(0, 93, 185);
  position: relative;
  top: 2px;
}

/*
//////////////////////
//////////////////////////APPOINTMENT FORM
//////////////////////
*/

form {
  padding: 40px;
  width: 550px;
  background: var(--c-bg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--c-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

form h3 {
  padding-block: 20px;
}

.contact-form div > input[type="text"] {
  background: none;
  border: none;
  outline: none;
  padding-bottom: 10px;
  border-bottom: 2.5px solid;
  color: var(--c-white);
}

.contact-form div > textarea {
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

form div label {
  padding: 0 20px 5px 0;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 100px);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 30px 0 20px 0;
  font: 500 small-caps var(--fs-20) var(--ff-btn);
  letter-spacing: 1.05px;
  border: none;
  width: 250px;
  padding: 8px 20px;
  border-radius: 10px;
  color: var(--c-white);
  background: var(--c-btn-green);
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
    3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  cursor: pointer;
  transition: all 0.5s ease-in;
  overflow: hidden;
}

.contact-form p {
  font: var(--fs-16) var(--ff-text-body);
}

/*
//////////////////////
///////////////////////////////////////////FOOTER///////////////////////////////
//////////////////////
*/

footer,
footer a {
  color: var(--c-white);
  font: var(--ff-text-body);
}

.back-to-top {
  position: absolute;
  right: 5vw;
  top: -2.8vh;
}

.fa-circle-chevron-up {
  font-size: 60px;
  z-index: 99;
  color: var(--c-bg-btn-blue);
}

.footer-sections {
  position: relative;
  padding: 50px 30px;
  background: var(--c-bg-blue);
  display: grid;
  grid: auto-flow / repeat(3, minmax(290px, 1fr));
  justify-items: center;
  justify-content: center;
  align-items: start;
}

.footer-sections > div {
  padding: 20px;
}

.footer-logo {
  width: 50px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-info i {
  font-size: 23px;
}

.contact-list li {
  display: flex;
  gap: 18px;
  align-items: center;
  letter-spacing: 1.12px;
}

.contact-list li p span {
  display: block;
  text-align: start;
  padding-top: 3px;
}

.social-media {
  display: flex;
  place-content: center;
  gap: 30px;
  cursor: pointer;
}

.social-media i {
  font-size: 28px;
}

/*
///////////////////////////////LINKS///////////////////////////////////////////
*/

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.links li {
  cursor: pointer;
}

.links > p,
.hours-section > p {
  text-transform: uppercase;
  text-decoration: solid underline 2px;
  text-underline-offset: 0.45em;
  padding-block: 20px;
  letter-spacing: 1.12px;
}

/*
///////////////////////////// OPERATING HOURS//////////////////////////////////
*/

.hours-section {
  display: flex;
  flex-direction: column;
}

.hours-section ul li {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  padding: 0 30px 0 40px;
  gap: 40px;
  min-width: 350px;
}

footer li {
  margin-bottom: 10px;
}

/*
///////////////////////////// FOOTNOTE/////////////////////////////////////////
*/

.footnote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 30px 10px;
  background: var(--c-bg-footnote);
  letter-spacing: 1.07px;
  font-size: 14px;
}

.copyright {
  margin-top: 10px;
}

.terms {
  padding-block: 5px;
}

.footnote {
  padding-block: 30px;
}

.terms .footnote-link {
  font: var(--fs-14) / 10px var(--ff-link);
  color: var(--c-white);
  padding: 0 10px 0 10px;
  letter-spacing: 1.6px;
  text-decoration: solid underline;
  text-underline-offset: 3px;
  text-decoration-skip-ink: auto;
}

@media screen and (width <= 960px) {
  .footer-sections {
    width: 100%;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 20px;
    background-color: var(--c-white);
  }

  .contact-list li {
    justify-content: center;
  }

  .social-media {
    justify-self: center;
    margin: 30px;
    align-items: space-around;
  }

  .links,
  .hours-section {
    padding: 0;
    justify-self: center;
  }

  .hours-section p {
    align-self: center;
  }
}
