* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Ubuntu:wght@500&display=swap');

:root {
  --blue-bg-color: linear-gradient(47deg, rgb(0, 26, 255), rgb(113, 196, 255) 100%);
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}


/*
//////////////////////
//////////////////////////SECTION INFORMATION
//////////////////////
*/

.sectioninfo {
  background: var(--blue-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;
  border: 1px solid green;
}

/* //////////////// LOGO //////////////////////*/

.logo {
  width: 400px;
  right: 0;
  padding: 30px;
  justify-self: start;
  align-items: center;
  padding-left: 30px;
}


/* /////////////// CONTACT INFORMATION //////////////////////*/

.contact-info-container {
  display: flex;
  padding: 20px;
  width: inherit;
  align-items: center;
}

.contact-info-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  color: #fff;
  cursor: pointer;
}

.contact-info-card>div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-icon {
  font-size: 20px;
  background: #141441;
  width: 50px;
  height: 50px;
  align-self: center;
  line-height: 50px !important;
  border-radius: 50%;
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
    3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  transition: all 1s linear;
}

/*
It's not possible to transition on display:hidden so to elminate this <p></p> I set the height to 0 and the hide the overflow on position absolute, to make it show again I only need to modify height property on hover
*/

.contact-info-card>div>p {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  height: 0;
  bottom: 0;
  overflow: hidden;
  text-align: start;
  transition: height 0.7s, position 0s, ease-in-out;
}

.contact-info-card div:first-child:hover .card-icon,
.contact-info-card div:nth-child(2):hover .card-icon,
.contact-info-card div:nth-child(3):hover .card-icon,
.contact-info-card div:last-child:hover .card-icon {
  background: none;
  color: #fff;
  transform: scale(1.6);
  box-shadow: none;
}

.contact-info-card div:first-child:hover>p,
.contact-info-card div:nth-child(2):hover>p,
.contact-info-card div:nth-child(3):hover>p,
.contact-info-card div:last-child:hover>p {
  height: 50%;
  position: relative;
}

/* /////////////// CONTACT INFORMATION //////////////////////*/

.appointment-btn-section {
  display: flex;
  align-items: center;
}

.appointment-btn {
  border: none;
  margin: 10px;
  width: 300px;
  height: 45px;
  border-radius: 10px;
  color: #fff;
  background: #1DB954;
  letter-spacing: 1.01px;
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
    3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.appointment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


.appointment-btn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  background: #1DB954;
}



@media screen and (max-width:480px) {
  .sectioninfo {
    flex-direction: column;
    padding: 20px;
    place-content: center;
    align-items: center;
  }

  .contact-info-container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .contact-info-card {
    flex-direction: column;
    width: auto;
    max-width: 300px;

  }

  .contact-info-card>div {
    justify-content: center;
    flex-direction: column;
    align-self: center;
  }

  .contact-info-card>div>p {
    text-align: center;
  }
}

@media screen and (max-width: 840px) {
  .sectioninfo {
    flex-direction: column;
    padding: 20px;
    place-content: center;
    align-items: center;
  }

  .appointment-btn {
    margin-bottom: 30px;
    justify-self: center;
  }
}

@media screen and (max-width: 1120px) {
  .appointment-btn {
    margin-bottom: 40px;
  }
}

/*
//////////////////////
//////////////////////////NAV BAR
//////////////////////
*/

.main-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
}

.menu-items {
  left: 50%;
  display: flex;
  max-width: 900px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 20px;
}

.menu-items a {
  font: 16px/1.4px 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #111;
  transition: all 0.5s ease;
}

.menu-items a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  color: rgb(0, 26, 255);
}

@media screen and (max-width: 560px) {
  .main-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }

  .burger-menu {
    height: 100%;
    max-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    background-color: red;
  }

  .burger-bar {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 183, 255);
    border-radius: 2px;
  }

  .menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(154, 181, 240);
    position: absolute;
    top: 10;
    z-index: 99;
  }

  .menu-items>a {
    display: none;
  }

  /*--------------- sliding menu ---------------------*/

  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  /*------------- animations --------------*/
  /* clicked */
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em 1.25em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-.5em 1em);
    transition: ease-out 0.5s;
  }

  /*------------------ unclicked ---------------*/

  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.17, 0.885, 0.32, 1.275) 0.5s;
  }

}

/* /////////////// COVID ALERT //////////////////////*/

.covidBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.covidBtn {
  height: 30px;
  width: 180px;
  min-width: 140px;
  max-width: 200px;
  border: 0;
  padding: 8px;
  width: 280px;
  border-radius: 8px;
  background: #cd4c32;
  cursor: pointer;
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
  3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  transition: all 0.5s ease;
  align-self: center;
  margin-right: 20px;
}

.covidBtn a {
  color: #fff;
}

.covidBtn a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.covidbtn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}


/* .img-info-icon-na {
  filter: opacity(0.6) drop-shadow(0 0 0 rgb(0, 0, 196));
} */

/*
//////////////////////
//////////////////////////SECTION TITLE
//////////////////////
*/

.About {
  background: linear-gradient(47deg, rgb(0, 26, 255, 0.7), rgb(113, 196, 255, 0.7) 100%), url("../assets//images/home-background-mr-lee-f4RBYsY2hxA-unsplash.jpg");
  background-position: 40% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  place-content: center;
  flex-direction: column;
}

.about-title {
  margin: 0;
  z-index: 1;
  font-size: 55px;
  font-weight: 900;
  color: white;
}

.link-home {
  z-index: 1;
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

/*
//////////////////////
//////////////////////////SOCIAL ICONS 
//////////////////////
*/

.socialicons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 70px;
  top: 20px;
}

.icons-redes {
  display: flex;
  flex-direction: row;
}

.container-icons {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  transition: all 0.5s ease;
  text-align: center;
}

.container-icons:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.icon {
  font-size: 25px;
  color: rgb(0, 93, 185);
  position: relative;
  top: 2px;
}

/*
//////////////////////
//////////////////////////FOOTER
//////////////////////
*/

footer {
  color: #fff;
  font: var(--footer-font);
}

.fa-circle-chevron-up {
  position: absolute;
  padding-top: 10px;
  right: 2vw;
  font-size: 60px;
}

.footer-sections {
  width: inherit;
  padding: 30px;
  background: var(--blue-bg-color);
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  justify-content: center;
  align-items: start;
}

.footer-logo {
  width: 350px;
}

.contact-info {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 28.33px;
}

.contact-info i {
  font-size: 21px;
}

.contact-list li {
  display: flex;
  gap: 15px;
  align-items: center;
  letter-spacing: 1.12px;
}

.social-media {
  display: flex;
  place-content: center;
  gap: 30px;
  cursor: pointer;
}

.social-media i {
  font-size: 28px;
}

/*
//////////////////////////////
///////////////////////////////LINKS
/////////////////////////////
*/

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid red;
  padding-top: 40px;
}

.links li {
  cursor: pointer;
}

.links > p,
.hours-section > p {
  /*   margin-block: 30px 50px; */
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 20px;
  letter-spacing: 1.12px;
}


/*
/////////////////////////////////////////////
///////////////////////////// OPERATING HOURS
/////////////////////////////////////////////
*/

.hours-section {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 40px;
}

.hours-section ul li {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;

}

.hours-section ul li span {
  padding-right: 20px;
}

.hours-section:after, .links:after {
  content: "";
  position: absolute;
  top: 24%;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, .3);
  border: 2px solid #000039;
}


footer li {
  margin-bottom: 10px;
}
.footnote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 30px 10px;
  background: #000039;
  letter-spacing: 1.07px;
  font-size: 14px;
}

.copyright {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .footer-sections {
    width: 100%;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 20px;
  }
  .fa-circle-chevron-up {
    top: 3vh;
    right: 6vw;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  .social-media {
    justify-self: center;
    margin: 30px;
    align-items: space-around;
  }
  .links, .hours-section {
    padding: 0;
    justify-self: center;
  }
  .hours-section p {
    align-self: center;
  }

}