
  .cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-block: 10px;
  }
  
  .cards-section h2 {
    display: block;
    flex: 1 0 auto;
    margin-bottom: 50px;
  }
  
  .cards-container {
    max-width: 1200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 50px;
  }
  
  .staff-card {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: auto;
    margin-top: auto;
    box-shadow: var(--box-shadow);
  }
  
  .staff-card img {
    display: block;
    border: none;
    border-radius: 12px 12px 0 0;
    width: 480px;
    height: 250px;
    object-fit: cover;
  }
  
  .staff-card-info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: inherit;
    width: inherit;
    gap: 20px;
    background-color: var(--c-bg-footnote);
    color: var(--c-white);
  }
  
  .staff-card-info > :first-child {
    width: 100%;
    font: var(--fs-18) var(--ff-subheading);
    letter-spacing: 1.08px;
    padding-block: 15px;
    background-color: #f8f8ff25;
  }
  
  .staff-card-info > :last-child {
    font: var(--fs-16) var(--ff-text-body);
    letter-spacing: 1.05px;
    padding: 0 15px 25px 15px;
  }
  
  /*
  ////////////////////////OUR OFFICE
  */
  
  .office {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .title-carousel {
    margin-bottom: 50px;
  }
  
  .carousel-container {
    width: 780px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 680px) {
    .carousel-container {
      width: 100%;
    }
  }
  
  
  
  
  
  /*
  //////////////////////
  ////////////////////////////////////SECTION TITLE//////////////////////////////
  //////////////////////
  */
  
  .about-section {
    position: relative;
    display: flex;
    place-content: center;
    flex-direction: column;
    background: url("../assets//images/home-background-mr-lee-f4RBYsY2hxA-unsplash.jpg");
    background-position: 40% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 350px;
  }
  
  .about-section::after {
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--c-bg-blue);
    opacity: 0.7;
  }
  
  .about-title {
    z-index: 1;
    color: var(--c-white);
  }
  
  .link-home {
    margin-top: 30px;
    z-index: 1;
    font-size: 18px;
    color: var(--c-white);
    text-decoration: underline;
  }
  
  /*
  //////////////////////////SOCIAL ICONS ////////////////////////////////////////
  */
  
  .socialicons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 70px;
    top: 20px;
  }
  
  .icons-redes {
    display: flex;
    flex-direction: row;
  }
  
  .container-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--c-white);
    border-radius: 50%;
    margin-left: 10px;
    transition: all 0.5s ease;
    text-align: center;
  }
  
  .container-icons:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  
  .icon {
    font-size: 26px;
    color: rgb(0, 93, 185);
    position: relative;
    top: 2px;
  }
  
  /*
  //////////////////////
  //////////////////////////APPOINTMENT FORM
  //////////////////////
  */
  
  form {
    padding: 40px;
    width: 550px;
    background: var(--c-bg-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--c-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }
  
  form h3 {
    padding-block: 20px;
  }
  
  .contact-form div > input[type='text'] {
    background: none;
    border: none;
    outline: none;
    padding-bottom: 10px;
    border-bottom: 2.5px solid;
    color: var(--c-white);
  }
  
  .contact-form div > textarea {
    border-radius: 5px;
    outline: none;
    padding: 10px;
  }
  
  .errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
  }
  
  form div label {
    padding: 0 20px 5px 0;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% - 100px);
  }
  

  
  .contact-form p {
    font: var(--fs-16) var(--ff-text-body);
  }
  
  
  
  
  
  /*
  //////////////////////
  ///////////////////////////////////////////FOOTER///////////////////////////////
  //////////////////////
  */
  
  footer,
  footer a {
    color: var(--c-white);
    font: var(--ff-text-body);
  }
  
  .back-to-top {
    position: absolute;
    right: 5vw;
    top: -2.8vh;
  }
  
  .fa-circle-chevron-up {
    font-size: 60px;
    z-index: 99;
    color: var(--c-bg-btn-blue);
  }
  
  .footer-sections {
    position: relative;
    padding: 50px 30px;
    background: var(--c-bg-blue);
    display: grid;
    grid: auto-flow / repeat(3, minmax(290px, 1fr));
    justify-items: center;
    justify-content: center;
    align-items: start;
  }
  
  .footer-sections>div {
    padding: 20px;
  }
  
  .footer-logo {
    width: 350px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .contact-info i {
    font-size: 23px;
  }
  
  .contact-list li {
    display: flex;
    gap: 18px;
    align-items: center;
    letter-spacing: 1.12px;
  
  }
  
  .contact-list li p span {
    display: block;
    text-align: start;
    padding-top: 3px;
  }
  
  .social-media {
    display: flex;
    place-content: center;
    gap: 30px;
    cursor: pointer;
  }
  
  .social-media i {
    font-size: 28px;
  }
  
  /*
  ///////////////////////////////LINKS///////////////////////////////////////////
  */
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
  }
  
  .links li {
    cursor: pointer;
  }
  
  .links>p,
  .hours-section>p {
    text-transform: uppercase;
    text-decoration: solid underline 2px;
    text-underline-offset: 0.45em;
    padding-block: 20px;
    letter-spacing: 1.12px;
  }
  
  
  /*
  ///////////////////////////// OPERATING HOURS//////////////////////////////////
  */
  
  .hours-section {
    display: flex;
    flex-direction: column;
  }
  
  
  .hours-section ul li {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: 0 30px 0 40px;
    gap: 40px;
    min-width: 350px;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  /*
  ///////////////////////////// FOOTNOTE/////////////////////////////////////////
  */
  
  .footnote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px 10px;
    background: var(--c-bg-footnote);
    letter-spacing: 1.07px;
    font-size: 14px;
  }
  
  .copyright {
    margin-top: 10px;
  }
  
  .terms {
    padding-block: 5px;
  }
  
  .footnote {
    padding-block: 30px;
  }
  
  .terms .footnote-link {
    font: var(--fs-14)/10px var(--ff-link);
    color: var(--c-white);
    padding: 0 10px 0 10px;
    letter-spacing: 1.6px;
    text-decoration: solid underline;
    text-underline-offset: 3px;
    text-decoration-skip-ink: auto;
  }
  
  
  @media screen and (width <= 960px) {
    .footer-sections {
      width: 100%;
      grid-template-columns: minmax(320px, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(320px, 1fr));
      row-gap: 20px;
      background-color: var(--c-white);
    }
  
    .contact-list li {
      justify-content: center;
    }
  
    .social-media {
      justify-self: center;
      margin: 30px;
      align-items: space-around;
    }
  
    .links,
    .hours-section {
      padding: 0;
      justify-self: center;
    }
  
    .hours-section p {
      align-self: center;
    }
  
  }