.home__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto 2rem auto;
  place-content: center;
  img {
    aspect-ratio: 16 / 9;
    width: 100vw;
    max-height: 500px;
    object-fit: cover;
  }

  ul {
    padding: 1.8rem;
    width: 90%;
  }

  ul li {
    display: flex;
    align-items: flex-start;
    text-wrap: wrap;
    gap: 0.2em;
    font: var(--fs-16) var(--ff-text-body);
  }

  ul li:not(:last-child) {
    padding-block: 0.6rem;
  }

  ul li p {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 1;
  }

  ul li .checkmark {
    margin-inline-end: 0.5rem;
    color: var(--c-btn-green);
    font-size: 2rem;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1200px) {
  .home__section {
    max-width: 100%;
    margin-bottom: 2rem;
    align-items: flex-start;
    img {
      object-fit: cover;
      max-width: 100%;
    }
    ul {
      text-wrap: balance;
      max-width: 100dvw;
    }
  }
}
