.officeCarousel {
  padding: 50px 20px;
  background: var(--c-white-200);
  margin-top: 2rem;
  max-width: 1200px;
  border: 2px solid var(--c-white-500);
}

.featuredImg {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  img {
    width: 500px;
    min-width: 300px;
    flex: 1 0 auto;
  }
  figcaption {
    font: var(--fs-18) var(--ff-text);
  }
}

.thumnailsContainer {
  display: flex;
  place-content: flex-end;
  gap: 20px;
  margin-block: 20px;
  img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover,
    &:focus {
      cursor: pointer;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
    }
  }
}

@media screen and (max-width: 900px) {
  .officeCarousel {
    overflow: scroll;
    object-fit: cover;
    padding-right: 0;
    width: 100%;
  }
  .thumnailsContainer {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    border: 1px solid red;
  }
  .featuredImg {
    width: 100%;
    /* overflow: hidden; */
    /* flex: 0 1 auto; */
  }
  .thumbnail img {
    height: 100px;
  }
}
