.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--c-white);
    border-radius: 50%;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
    .icon {
        font-size: 26px;
        color: rgb(0, 93, 185);
        margin: 0;
        padding: 0;
    }
  }
}

