.staff__section {
  max-width: clamp(600px, 70%, 1200px);
  h2 {
    text-align: center;
    padding-block: 1.8rem;
  }
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2.5rem;
  grid-auto-flow: row;
  width: clamp(300px, 80%, 1200px);
}

.staff__card {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-shadow: var(--box-shadow);
}

.staff__card img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: none;
  border-radius: 12px 12px 0 0;
  border: 2px solid var(--c-blue-800);
}

.staff__card_info {
  display: flex;
  flex-direction: column;
  background-color: var(--c-blue-900);
  color: var(--c-white-50);
  text-align: center;
  > * {
    padding-block: 1rem;
  }
}

.staff__card_info h3 {
  font: var(--fs-18) var(--ff-subheading);
  background-color: var(--c-blue-800);
}

.staff__card_info p {
  font: var(--fs-16) var(--ff-text-body);
  letter-spacing: 1.05px;
}

/*
  https://codepen.io/alvarotrigo/pen/wvrzPWL
  */
