@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,600&family=Fira+Sans:wght@500;600&family=Oxygen:wght@300&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&family=Ubuntu:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*
/////////////////////////////
//////////////////////////////////////// Html and Body Root Defaults 
/////////////////////////////
*/

html:focus-within {
  scroll-behavior: smooth;
  max-width: 100%;
  font-size: 100%;
}

/*
/////////////////////////////
//////////////////////////////////////// Typography
/////////////////////////////
*/



/*
////////////////Link to font family:
https://fonts.google.com/share?selection.family=Fira%20Sans:wght@500;600%7COxygen:wght@300%7CPoppins:ital,wght@0,300;0,400;1,300;1,400%7CUbuntu:wght@400;500
*/

/*
///////////////////////// CSS rules to specify families
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

:root {
  /*font sizes*/
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
  --fs-48: 3rem;
  --fs-64: 4rem;
  /*font families*/
  --ff-nav: 'Ubuntu', 'Helvetica', sans-serif;
  --ff-heading: 'Crimson Text', 'Georgia', 'Cambria', serif;
  --ff-subheading: 'Fira Sans', 'Droid Sans', 'Century', sans-serif;
  --ff-text-body: 'Poppins', 'Roboto', 'Arial Narrow', sans-serif;
  --ff-btn: 'Ubuntu', 'Helvetica Neue', sans-serif;
  --ff-link: 'Oxygen', 'Arial', sans-serif;
}

@media (max-width: 35em) {
  :root {
    /*minium font sizes*/
    --fs-10: calc(var(--fs-10) * 1.06);
    --fs-12: calc(var(--fs-12) * 1.06);
    --fs-14: calc(var(--fs-14) * 1.09);
    --fs-16: calc(var(--fs-16) * 1.10);
    --fs-18: calc(var(--fs-18) * 1.11);
    --fs-20: calc(var(--fs-20) * 1.13);
    --fs-24: calc(var(--fs-24) * 1.14);
    --fs-30: calc(var(--fs-30) * 1.16);
    --fs-32: calc(var(--fs-32) * 1.18);
    --fs-48: calc(var(--fs-48) * 1.20);
    --fs-64: calc(var(--fs-64) * 1.30);
  }
}



/* A elements that don't have a class get defaults underline*/
/* a:not([class]) {
  text-underline-offset: 3px;
  text-decoration-skip-ink: auto;
} */


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: var(--ff-body);
}

@media (prefers-reduced-motion: reduce) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
/////////////////////////////
//////////////////////////////////////// Color Variables
/////////////////////////////
*/

:root {
  --c-bg-blue: linear-gradient(47deg, rgb(0, 26, 255), rgb(113, 196, 255) 100%);
  --c-white: #F8F8FF;
  --c-black-heading: #262B2F;
  --c-black-body: #1A2228;
  --c-light-blue-text: rgb(113, 196, 255);
  --c-btn-green: #1DB954;
  --c-btn-red: #CF1020;
  /*https://cssgradient.io/*/
  --c-bg-btn-blue: #191970;
  --c-blue-hover: rgb(0, 26, 255);
  --c-bg-footnote: #000039;
}


/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--c-black-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1-h6 {
  letter-spacing: 1.3px;
  color: var(--c-black-heading);
}

h1 {
  font: 600 var(--fs-64)/50px var(--ff-heading);
}

h2 {
  font: 500 var(--fs-48)/1.35% var(--ff-subheading);
}

h3 {
  font: 500 var(--fs-24)/1.25% var(--ff-subheading);
}

h4 {
  font: 500 var(--fs-20) var(--ff-subheading);
}

p,
span {
  font: 400 var(--fs-16)/1.26% var(--ff-body);
}

a {
  font: var(--fs-14) var(--ff-link);
  text-decoration: none;
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-header {
  background-color: var(--c-black-body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--c-white);
}

.App-link {
  color: var(--link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


/*
/////////////////////////////////////////
//////////////////////////////////////////////////ABOUT
//////////////////////////////////////////////
*/


.staffImage {
  width: 900px;
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 2px;
}

.titleh2 {
  font-size: 28px;
  color: #333;
  padding-bottom: 30px;
  letter-spacing: 2px;
}

.text {
  font-size: 18px;
  line-height: 30px;
  padding: 5px;
  text-align: left;
  letter-spacing: 2px;
}

.stackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
}

.image-about-home {
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 93, 185));
}

/*
//////////////////////////////////////APPOINTMENT BANNER
*/

.banner-container {
  width: 100%;
  padding: 50px;
  display: flex;
  place-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--c-bg-blue);
}

.text-banner {
  width: 800px;
  text-align: left;
}


.text-banner>h2 {
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: normal;
  color: #fff;
}

.text-banner>p {
  padding-top: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
}

.banner-container button {
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .banner-container {
    flex-direction: column;
  }

  .text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90vw;
  }

  .text-banner h2,
  p {
    text-align: center;
  }


}

/*
///////////////////////////////////////////////////SLIDER HOME
*/

.each-fade {
  display: flex;
  height: 400px;
}

.each-fade>div {
  width: 100%;
}

.each-fade>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.each-fade p {
  width: 25%;
  font-size: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

/*
///////////////////////////////////////////////////////REVIEWS
*/

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*
/////////////////////////////////////////////////////CARDS HOME
*/


.card1,
.card2,
.card3,
.card4 {
  /* background: 
  linear-gradient(
       217deg, rgba(2, 2, 2, 0.45), 
       rgba(0, 0, 255, .6)
     ); */
  position: relative;
}


.card1::after,
.card2::after,
.card3::after,
.card4::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(217deg, rgba(2, 2, 2, 0.55),
      rgba(0, 0, 255, .60))
}


.card1,
.card2,
.card3,
.card4 {
  box-shadow: 2px 5px 10px rgb(0 0 0 / 0.2);
  transition: transform ease 300ms;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  transform: translate(0, -25px);
}



/*
//////////////////////////////////////////////////STAFF
*/

.staff {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  -webkit-box-shadow: 0.5px -4px 5px -2px rgba(50, 48, 48, 0.25);
  -moz-box-shadow: 0.5px -4px 5px -2px rgba(47, 45, 45, 0.25);
  box-shadow: 0.5px -4px 5px -2px rgba(45, 44, 44, 0.25);
}

.staff-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.staff-container {
  padding: 10px;
}

.load {
  position: relative;
  bottom: 40px;
  color: var(--c-white);
}

.info {
  position: relative;
  bottom: 40px;
  color: var(--c-white);
}

.name {
  position: relative;
  bottom: 20px;
  color: var(--c-white);
}

.cardcolor {
  background-color: var(--c-bg-blue);
}


/*
////////////////////////////////////////////////
///////////////////////////////////////////////////OUR OFFICE
////////////////////////////////////////////////
*/

.office {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title-carousel {
  margin-bottom: 30px;
}

.carousel-container {
  width: 780px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .carousel-container {
    width: 100%;
  }
}




/*
///////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////SERVICES
//////////////////////////////////////
*/

.services_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.GridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-flow: row;
  gap: 20px;
  margin: 20px;
  max-width: 1500px;
}

@media ((min-width: 580px) and (max-width: 1200px)) {
  .GridContainer {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }
}

@media ((min-width: 350px) and (max-width: 580px)) {
  .GridContainer {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }
}

.title_services {
  font-size: 40px;
  font-weight: 500;
  color: #3A3A38;
  /*blackberry*/
  margin: 10px;
}

.subtitle_services {
  letter-spacing: 7px;
  font-size: 18px;
  color: gray;
  margin: 10px;
}

.parrafo_services {
  color: gray;
  font-size: 18px;
  margin: 10px;
}

.servicesitems {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 100px;
  background-color: #fff;
  border-top: 4px solid #1f305e;
  color: #1f305e;
  font: 500 16px/10px "roboto", sans-serif;
  border-radius: 0 0 5px 5px;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
  padding: 0 8px 0 8px;
}

.servicesitems:hover {
  transform: scale(1.03);
  transition: all 0.5s ease;
  cursor: pointer;
}

.servicesitems-title {
  line-height: 20px;
}

.active {
  background-color: #1f305e;
  border-top: 4px solid grey;
  color: #fff;
}




/*
/////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////BLOG
//////////////////////////////////////////////
*/

.blogcard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  gap: 60px;
  margin: 80px;
}

.blogcard {
  display: flex;
  gap: 20px;
  width: 700px;
  height: 168px;
  font-size: 12px;
}

.blogcard>img {
  max-height: 200px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: -6px 3px 3px rgba(0, 0, 0, 0.1);

}

.blogcard-info>.title {
  color: var(--c-black-body);
  color: var(--c-black-body);
  font-size: 24px;
  font-weight: 500;
  padding-block: 5px;
}

.blogcard-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.blogcard-info>.date {
  font-size: 12px;
  letter-spacing: 1.01px;
}

.blogcard-info>.desc {
  text-align: start;
  padding-block: 15px;
  font-size: 14px;
}

.blogcard-info>button {
  display: inline-block;
  background-color: var(--background-color);
  border-radius: 8px;
  border: none;
  width: 130px;
  height: 60px;
  margin: 0;
  padding: 3px;
  align-self: flex-end;
}

.blogcard-btn a {
  margin: 0 auto;
  color: var(--c-white);
  font-size: 18px;
  line-height: 20px;
}

/*
/////////////////////////////////////////
//////////////////////////////////////////////////APPOINTMENTS
//////////////////////////////////////////////
*/

.reviewbox {
  width: 700px;
}

.Appointment {
  display: flex;
  height: 100%;
}

/* 
------------------------
Left Container
----------------------
*/

.left {
  width: 50%;
  background-color: rgb(0, 93, 185);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7px;
}

.form {
  column-count: 2;
  padding-left: 30px;
}

.form input,
select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 58px !important;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 16px;
  border-radius: 0px;
  box-shadow: none !important;
  width: 90%;
  align-items: center;
}

.form input,
select:enabled {
  color: red;
}

option {
  color: black;
}

.form input::placeholder {
  color: white;
}

.form input:focus {
  outline: none;
}

.form select,
option:focus {
  outline: none;
}

/* 
------------------------
Right Container 
----------------------
*/

.right {
  width: 50%;
}

.container-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
}

.card-right {
  margin-top: 20px;
  background-color: rgba(128, 128, 128, 0.308);
  width: 220px;
}

.card-right h3 {
  font-size: 2.5rem;
}

.card-right p {
  font-size: 1rem;
  position: relative;
  top: -10px;
}

.text-about {
  writing-mode: vertical-lr;
  position: relative;
  left: 550px;
  bottom: 350px;
  letter-spacing: 6px;
}

.review_google {
  width: 600px;
  position: relative;
  right: 30px;
  border-radius: 20px;
}

.appoint-btn {
  border: none;
  width: 300px;
  padding: 13px;
  border-radius: 10px;
  position: relative;
  background: #32cd32;
  border: 1px solid #32cd32;
  color: white;
  font-size: 19px;
  top: 30px;
  transition: all 0.5s ease;
}

.appoint-btn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  cursor: pointer;
}

.date_form {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around;
}

/*
/////////////////////////////////////////
//////////////////////////////////////////////////COVID MESSAGE
//////////////////////////////////////////////
*/

.covid19-container {
  padding: 80px;
}

.covid19-container h1 {
  font-size: 40px;
}

.covid19-container p {
  color: #222;
  font-size: 18px;
}